In [1]:
!python --version

Python 3.7.4

#### Installation of pandas

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /anaconda3/lib/python3.7/site-packages (0.25.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /anaconda3/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /anaconda3/lib/python3.7/site-packages (from pandas) (2019.1)
Requirement already satisfied: numpy>=1.13.3 in /anaconda3/lib/python3.7/site-packages (from pandas) (1.16.5)
Requirement already satisfied: six>=1.5 in /anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [3]:
!pip install numpy

Requirement already satisfied: numpy in /anaconda3/lib/python3.7/site-packages (1.16.5)

#### Installation of matplotlib

In [4]:
!pip install matplotlib

Requirement already satisfied: matplotlib in /anaconda3/lib/python3.7/site-packages (3.1.1)
Requirement already satisfied: cycler>=0.10 in /anaconda3/lib/python3.7/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /anaconda3/lib/python3.7/site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /anaconda3/lib/python3.7/site-packages (from matplotlib) (2.4.0)
Requirement already satisfied: python-dateutil>=2.1 in /anaconda3/lib/python3.7/site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: numpy>=1.11 in /anaconda3/lib/python3.7/site-packages (from matplotlib) (1.16.5)
Requirement already satisfied: six in /anaconda3/lib/python3.7/site-packages (from cycler>=0.10->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in /anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (41.0.1)

In [5]:
!pip install seaborn

Requirement already satisfied: seaborn in /anaconda3/lib/python3.7/site-packages (0.9.0)
Requirement already satisfied: matplotlib>=1.4.3 in /anaconda3/lib/python3.7/site-packages (from seaborn) (3.1.1)
Requirement already satisfied: pandas>=0.15.2 in /anaconda3/lib/python3.7/site-packages (from seaborn) (0.25.1)
Requirement already satisfied: numpy>=1.9.3 in /anaconda3/lib/python3.7/site-packages (from seaborn) (1.16.5)
Requirement already satisfied: scipy>=0.14.0 in /anaconda3/lib/python3.7/site-packages (from seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (2.4.0)
Requirement already satisfied: python-dateutil>=2.1 in /anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /anaconda3/lib/python3.7/site-packages (from pandas>=0.15.2->seaborn) (2019.1)
Requirement already satisfied: six in /anaconda3/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=1.4.3->seaborn) (1.12.0)
Requirement already satisfied: setuptools in /anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn) (41.0.1)

#### Pandas version

In [6]:
import pandas as pd

pd.__version__

'0.25.1'

#### Matplotlib version

In [7]:
import matplotlib

matplotlib.__version__

'3.1.1'

#### Numpy version

In [8]:
import numpy as np

np.__version__

'1.16.5'

### Seaborn Version

In [9]:
import seaborn

seaborn.__version__

'0.9.0'

<b>Dataset</b> https://www.kaggle.com/vjchoudhary7/customer-segmentation-tutorial-in-python
* Gender - Gender of the customer
* Age - Age of the customer
* Annual Income (k$) - Annual Income of the customee
* Spending Score (1-100) - Score assigned by the mall based on customer behavior and spending nature

#### Reading data using pandas python

In [10]:
## TODO: While recording please show the file structure first

In [11]:
mall_data = pd.read_json('datasets/Mall_Customers.json')

mall_data.head(5)

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19          15000              39
1            2    Male   21          15000              81
2            3  Female   20          16000               6
3            4  Female   23          16000              77
4            5  Female   31          17000              40

In [12]:
average_income = mall_data['annual_income'].mean()

average_income

60560.0

In [13]:
mall_data['above_average_income'] = (mall_data['annual_income'] - average_income) > 0

mall_data.sample(5)

,customer_id,gender,age,annual_income,spending_score,above_average_income
177,178,Male,27,88000,69,True
93,94,Female,40,60000,40,False
170,171,Male,40,87000,13,True
198,199,Male,32,137000,18,True
102,103,Male,67,62000,59,True

* We can save it in any forms like normal text file, csv or json. It will save it in the location where you prefer as well

In [14]:
mall_data.to_csv('datasets/mall_data_processed.csv', index=False)

In [15]:
!ls datasets/

500_Person_Gender_Height_Weight_Index.csv
HousingData.csv
Mall_Customers.json
Salary_Data.csv
Salary_Data_old.csv
USDAProj_Corn_2007to2018.csv
auto-mpg.csv
automobile_data_processed.csv
house_data_processed.csv
mall_data_column_oriented.json
mall_data_index_oriented.json
mall_data_processed.csv
mall_data_records_oriented.json
mall_data_values_oriented.json
sp500_1987.csv
weight-height.csv

#### Read the csv file for the clarification

In [16]:
mall_data_updated = pd.read_csv('datasets/mall_data_processed.csv', index_col=0)

mall_data_updated.head(5)

             gender  age  annual_income  spending_score  above_average_income
customer_id
1              Male   19          15000              39                 False
2              Male   21          15000              81                 False
3            Female   20          16000               6                 False
4            Female   23          16000              77                 False
5            Female   31          17000              40                 False

In [17]:
## TODO: While recording please show the files after each save

In [18]:
mall_data.to_json('datasets/mall_data_column_oriented.json', orient='columns')

In [19]:
mall_data.to_json('datasets/mall_data_records_oriented.json', orient='records')

In [20]:
mall_data.to_json('datasets/mall_data_index_oriented.json', orient='index')

In [21]:
mall_data.to_json('datasets/mall_data_values_oriented.json', orient='values')

In [22]:
!ls datasets/

500_Person_Gender_Height_Weight_Index.csv
HousingData.csv
Mall_Customers.json
Salary_Data.csv
Salary_Data_old.csv
USDAProj_Corn_2007to2018.csv
auto-mpg.csv
automobile_data_processed.csv
house_data_processed.csv
mall_data_column_oriented.json
mall_data_index_oriented.json
mall_data_processed.csv
mall_data_records_oriented.json
mall_data_values_oriented.json
sp500_1987.csv
weight-height.csv