In [1]:
!pip install -U pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/2a/67/0a59cb257c72bb837575ca0ddf5f0fe2a482e98209b7a1bed8cde68ddb46/pandas-0.24.2-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (16.3MB)
    100% |████████████████████████████████| 16.3MB 1.1MB/s ta 0:00:011    69% |██████████████████████▍         | 11.4MB 2.4MB/s eta 0:00:03
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /Users/yukti/anaconda3/lib/python3.6/site-packages (from pandas) (2.7.3)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /Users/yukti/anaconda3/lib/python3.6/site-packages (from pandas) (2018.4)
Requirement already satisfied, skipping upgrade: numpy>=1.12.0 in /Users/yukti/anaconda3/lib/python3.6/site-packages (from pandas) (1.16.2)
Requirement already satisfied, skipping upgrade: six>=1.5 in /Users/yukti/anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
Installing collected packages: pandas
  Found existing installation: pandas 0.23.0
    Uninstalling pandas-0.23.0:
      Successfully uninstalled pandas-0.23.0
Successfully installed pandas-0.24.2
You are using pip version 19.0.3, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np

In [2]:
toy_df = pd.DataFrame({'numbers': [1, 2, 3, np.nan, np.nan, np.nan, 7]})

toy_df

   numbers
0      1.0
1      2.0
2      3.0
3      NaN
4      NaN
5      NaN
6      7.0

In [3]:
toy_df.isnull().sum()

numbers    3
dtype: int64

In [4]:
dropped_toy_df = toy_df.dropna()

dropped_toy_df

   numbers
0      1.0
1      2.0
2      3.0
6      7.0

In [5]:
filled_toy_df = toy_df.fillna(0)

filled_toy_df

   numbers
0      1.0
1      2.0
2      3.0
3      0.0
4      0.0
5      0.0
6      7.0

In [6]:
backfilled_toy_df = toy_df.fillna(method='bfill')

backfilled_toy_df

   numbers
0      1.0
1      2.0
2      3.0
3      7.0
4      7.0
5      7.0
6      7.0

In [7]:
forwardfilled_toy_df = toy_df.fillna(method='ffill')

forwardfilled_toy_df

   numbers
0      1.0
1      2.0
2      3.0
3      3.0
4      3.0
5      3.0
6      7.0

In [8]:
meanfilled_toy_df = toy_df.fillna(toy_df['numbers'].mean())

meanfilled_toy_df

   numbers
0     1.00
1     2.00
2     3.00
3     3.25
4     3.25
5     3.25
6     7.00

In [9]:
interpolated_toy_df = toy_df.interpolate()

interpolated_toy_df

   numbers
0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0