In [1]:
!pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in /anaconda3/lib/python3.6/site-packages (0.20.3)
Requirement already satisfied, skipping upgrade: numpy>=1.8.2 in /anaconda3/lib/python3.6/site-packages (from scikit-learn) (1.14.5)
Requirement already satisfied, skipping upgrade: scipy>=0.13.3 in /anaconda3/lib/python3.6/site-packages (from scikit-learn) (1.0.0)
WARNING: You are using pip version 19.1, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import pandas as pd

import matplotlib.pyplot as plt
import statsmodels.api as sm

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [3]:
admission_data = pd.read_csv('dataset/Admission_Predict.csv')

admission_data.head(10)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
6,321,109,3,3.0,4.0,8.20,1,0.75
7,308,101,2,3.0,4.0,7.90,0,0.68
8,302,102,1,2.0,1.5,8.00,0,0.50
9,323,108,3,3.5,3.0,8.60,0,0.45

In [4]:
X = admission_data.drop('Chance of Admit ', axis=1)
Y = admission_data['Chance of Admit ']

In [5]:
X.head(10)

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0
5        330          115                  5  4.5   3.0  9.34         1
6        321          109                  3  3.0   4.0  8.20         1
7        308          101                  2  3.0   4.0  7.90         0
8        302          102                  1  2.0   1.5  8.00         0
9        323          108                  3  3.5   3.0  8.60         0

In [6]:
Y.head(10)

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
5    0.90
6    0.75
7    0.68
8    0.50
9    0.45
Name: Chance of Admit , dtype: float64

In [7]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [8]:
x_train.shape, x_test.shape

((400, 7), (100, 7))

In [9]:
y_train.shape, y_test.shape

((400,), (100,))

In [10]:
x_train_with_intercept = sm.add_constant(x_train)

stats_model = sm.OLS(y_train, x_train_with_intercept)

fit_model = stats_model.fit()

In [11]:
print(fit_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       Chance of Admit    R-squared:                       0.834
Model:                            OLS   Adj. R-squared:                  0.831
Method:                 Least Squares   F-statistic:                     280.4
Date:                Thu, 09 May 2019   Prob (F-statistic):          2.51e-148
Time:                        17:50:30   Log-Likelihood:                 566.33
No. Observations:                 400   AIC:                            -1117.
Df Residuals:                     392   BIC:                            -1085.
Df Model:                           7
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                -1.2356      0.116    -10.642      0.000      -1.464      -1.007
GRE Score             0.0015      0.001      2.650      0.008       0.000       0.003
TOEFL Score           0.0028      0.001      3.008      0.003       0.001       0.005
University Rating     0.0052      0.004      1.244      0.214      -0.003       0.013
SOP                  -0.0011      0.005     -0.221      0.825      -0.011       0.009
LOR                   0.0166      0.005      3.566      0.000       0.007       0.026
CGPA                  0.1266      0.011     11.668      0.000       0.105       0.148
Research              0.0297      0.007      4.022      0.000       0.015       0.044
==============================================================================
Omnibus:                       86.234   Durbin-Watson:                   1.960
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              195.700
Skew:                          -1.094   Prob(JB):                     3.19e-43
Kurtosis:                       5.637   Cond. No.                     1.31e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.31e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

##### Linear Regression

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html

In [12]:
linear_model = LinearRegression(normalize=True).fit(x_train, y_train)

In [13]:
y_pred_train = linear_model.predict(x_train)

In [14]:
from sklearn.metrics import r2_score

r2_score(y_pred_train, y_train)

0.800293886600086

In [15]:
y_pred_test = linear_model.predict(x_test)

In [16]:
r2_score(y_pred_test, y_test)

0.6910482094801286